.wrapper{
    max-width: 600px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.btn{
    cursor: pointer;
    transition: 0.2s;
}


