$primary-font-family: 'Inter', sans-serif;
$secondary-font-family: 'Montserrat Alternates', sans-serif;

$primary-color: #585666;
$primary-color2: #B1B0B8;
$primary-color3: #7A7A93;

$secondary-color: #FF941A;